---
import { getCollection } from 'astro:content';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import Layout from '../../layouts/Layout.astro';

const posts = (await getCollection('works')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title={`works | ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
	<Header />
	<main
		class="res grid min-h-[calc(100dvh-4rem)] grid-cols-[repeat(auto-fit,_minmax(344px,_1fr))] gap-4"
	>
		{
			posts.map((post) => (
				<a href={`/works/${post.slug}`}>
					<img src={post.data.image} alt="" class=" w-[calc(100dvw-32px)] rounded" />
					<div class=" text-lg">{post.data.title}</div>
					<div class="text-sm font-medium">
						<time datetime={post.data.date.toISOString()}>
							{post.data.date.toLocaleDateString('sv-SE')}
						</time>
						{post.data.description}
					</div>
				</a>
			))
		}
	</main>
	<Footer />
</Layout>
